.tabs {
  height: 34px;
  background: var(--white);
  border-radius: 20px;
  padding: 2px;
  display: flex;
  align-items: center;
  position: relative;

  .tab-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: var(--maastricht-blue);
    font-size: 14px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-transform: capitalize;
    transition: color ease-in-out 0.35s;

    &.active {
      color: var(--white);
    }
  }

  .tab-bg {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-image: var(--gradient);
    position: absolute;
    left: 0;
    transition: left 0.35s ease-in-out;
  }
}
